 ## Importing the essential libraries

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Loading the training data

In [ ]:
training_data = pd.read_csv('Train_data.csv')
X1 = training_data.iloc[:, :-1].values
y1 = training_data.iloc[:, -1].values

In [ ]:
training_data.head(10)

,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,Target
0,59.000000,12.800000,3.400000,1.300000,2.600000,51.000000,0.200000,0.300000,50.000000,0.700000,0.800000,78.000000,1.100000,2.300000,3.300000,0.500000,0.30000,0.400000,0.500000,1
1,31.000000,10.700000,3.400000,1.200000,3.300000,35.300000,0.500000,2.100000,25.800000,0.500000,0.900000,55.200000,0.300000,1.100000,1.400000,0.400000,0.30000,0.100000,0.200000,0
2,48.000000,9.300000,4.500000,1.700000,3.400000,49.700000,0.000000,0.100000,0.000000,1.200000,1.900000,61.500000,0.400000,0.800000,1.200000,0.800000,0.50000,0.400000,1.000000,0
3,80.000000,27.700000,11.200000,3.500000,9.400000,37.400000,1.300000,4.100000,32.900000,2.800000,3.300000,85.000000,0.800000,1.600000,2.400000,3.900000,1.30000,0.100000,2.200000,1
4,58.000000,18.400000,5.800000,1.900000,5.300000,36.700000,0.000000,0.100000,25.000000,1.900000,3.100000,61.700000,0.500000,0.700000,1.200000,1.900000,1.10000,0.200000,1.700000,0
5,50.458515,16.178170,5.199565,1.979040,5.237119,38.467247,0.416594,1.195634,34.858949,0.779040,0.987337,77.387337,0.491703,1.337554,1.829257,1.937119,0.67904,0.091703,0.916594,0
6,50.000000,36.100000,12.800000,4.600000,12.300000,37.400000,2.000000,6.500000,31.000000,1.600000,2.100000,75.200000,0.300000,2.800000,3.100000,6.000000,1.90000,0.000000,2.900000,1
7,81.000000,25.100000,10.000000,3.800000,8.000000,48.100000,0.000000,0.100000,11.100000,2.300000,2.700000,86.600000,1.600000,2.100000,3.700000,1.900000,0.60000,0.200000,1.400000,1
8,79.000000,20.200000,6.700000,2.400000,5.400000,44.200000,0.300000,1.000000,26.300000,1.600000,2.000000,80.000000,0.200000,1.800000,2.000000,2.800000,0.50000,0.000000,1.300000,1
9,25.024069,9.244566,1.907221,0.837345,1.974690,40.545731,0.000000,0.000000,0.000000,0.265062,0.630124,48.373448,0.565062,1.569876,2.134938,0.297593,0.10000,0.637345,0.430124,0

In [ ]:
testing_data = pd.read_csv('Test_data.csv')

In [ ]:
testing_data.head(10)

,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV
0,44.000000,13.00000,6.600000,2.500000,5.600000,45.300000,0.4,1.300000,32.700000,1.100000,1.700000,65.300000,0.8,0.6,1.4,1.100000,0.700000,0.200000,1.000000
1,51.000000,9.10000,2.700000,1.000000,2.700000,39.000000,0.1,0.300000,23.500000,0.600000,0.800000,69.800000,0.3,0.7,1.0,0.900000,0.600000,0.100000,0.700000
2,51.000000,15.10000,5.700000,2.200000,5.200000,41.200000,0.3,0.800000,32.500000,1.100000,1.600000,69.100000,0.4,1.3,1.7,2.100000,0.700000,0.000000,1.400000
3,15.000000,7.90000,1.900000,0.700000,2.500000,27.000000,0.0,0.000000,0.000000,0.500000,0.800000,66.700000,0.5,1.1,1.5,0.500000,0.100000,0.100000,1.000000
4,36.000000,14.40000,5.800000,2.300000,5.400000,43.100000,0.0,0.100000,50.000000,1.100000,1.400000,82.000000,1.1,1.4,2.4,0.900000,0.300000,0.200000,0.900000
5,24.000000,17.50000,5.200000,1.800000,4.600000,39.100000,0.4,1.100000,38.500000,1.200000,1.700000,72.500000,0.1,1.0,1.1,2.900000,1.000000,0.100000,1.000000
6,61.000000,14.20000,5.400000,2.000000,4.200000,46.500000,0.9,1.800000,46.400000,0.700000,0.800000,82.400000,0.5,1.1,1.6,1.600000,0.600000,0.100000,1.100000
7,36.000000,7.60000,2.600000,1.100000,2.900000,37.900000,0.2,0.700000,28.000000,0.200000,0.300000,70.000000,0.2,0.6,0.9,0.400000,0.400000,0.100000,0.600000
8,42.277774,14.37223,4.238887,1.783332,5.072223,35.038857,0.1,0.644445,16.033343,0.544445,0.744445,73.055584,0.2,1.0,1.2,1.683332,0.444445,0.172223,1.016668
9,23.000000,8.30000,1.300000,0.500000,1.300000,36.700000,0.0,0.000000,0.000000,0.400000,0.900000,45.000000,0.7,1.3,2.0,0.500000,0.100000,0.300000,0.700000

## Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X1 = sc.fit_transform(X1)
X2 = sc.transform(testing_data)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [ ]:
print(X1)

[[-4.73388705e-04 -5.14071774e-01 -7.45403710e-01 ... -7.49803272e-01
   1.33276364e-01 -9.46325925e-01]
 [-1.62563489e+00 -7.75572865e-01 -7.45403710e-01 ... -7.49803272e-01
  -5.83313512e-01 -1.38275681e+00]
 [-6.38929695e-01 -9.49906925e-01 -4.81105452e-01 ... -2.31630277e-01
   1.33276364e-01 -2.18941113e-01]
 ...
 [ 3.47775505e-01 -4.64262043e-01 -3.60969880e-01 ...  2.86542717e-01
  -1.05586928e-01 -5.09895038e-01]
 [-2.32639318e-01 -2.52570684e-01 -5.77213909e-01 ...  2.86542717e-01
  -3.44450220e-01 -5.09895038e-01]
 [-2.32639318e-01  1.04248234e+00  1.80147041e+00 ...  1.84106170e+00
   1.33276364e-01  3.62966736e-01]]

In [ ]:
print(X2)

[[-0.87109562 -0.48916691  0.02346395 ...  0.28654272 -0.34445022
  -0.21894111]
 [-0.46480525 -0.97481179 -0.91359351 ...  0.02745622 -0.58331351
  -0.655372  ]
 [-0.46480525 -0.22766582 -0.19278008 ...  0.28654272 -0.8221768
   0.36296674]
 ...
 [-0.75501266  0.69381422  0.88844007 ...  0.28654272  1.56645612
   0.07201281]
 [-0.34872228 -1.32347991 -0.98567485 ... -0.74980327 -0.8221768
  -1.09180289]
 [ 1.33448071  0.60664719  0.67219604 ... -0.49071677  0.61100295
   0.21748977]]

## Modeling using Support Vector Classifier

In [ ]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', gamma=0.5, C = 1000)
classifier.fit(X1, y1)

SVC(C=1000, gamma=0.5)

## Making Predictions and saving it in a variable

In [ ]:
y_pred = classifier.predict(X2)

In [ ]:
print(y_pred)

[0 0 0 0 1 0 1 0 0 0 0 1 1 1 0 1 1 0 1 1 0 0 0 0 0 0 0 1 1 1 1 1 0 1 0 1 1
 1 1 1 0 1 0 1 0 0 1 1 1 0 0 0 1 0 1 0 0 0 0 0 1 1 0 0 0 1 1 0 1 0 0 0 0 1
 0 0 1 0 0 0 1 1 0 0 0 0 1 0 1 1 0 0 0 0 1 0 1 0 1 1 1 0 0 1 0 1 0 1 1 0 0
 1 0 0 1 0 0 0 1 1 0 1 0 0 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 0 1 0 1 0 1 0
 1 1 0 1 1 0 1 1 0 0 0 1 0 0 0 0 1 1 0 0 0 0 1 0 0 1 0 0 0 1 1 1 1 1 0 0 1
 0 0 0 1 0 1 0 1 0 0 1 0 0 1 1 0 0 1 0 1 1 0 0 0 0 1 0 0 1 0 0 1 1 0 1 0 1
 0 0 1 0 1 0 0 1 1 1 1 1 0 0 0 1 1 1 0 1 1 0 0 0 1 1 0 0 0 0 0 0 0 1 0 1 1
 1 1 1 0 1 0 0 1 1 1 1 0 1 0 1 0 1 1 0 0 1 0 1 1 0 0 1 0 1 0 0 0 1 0 0 1 1
 1 0 1 0 0 0 1 1 1 0 0 1 0 0 0 1 0 1 1 1 1 1 0 0 1 0 1 0 0 1 0 0 1 1 1 1 1
 0 0 1 1 1 1 0 0 0 0 0 0 1 0 1 0 0 1 0 0 0 1 1 0 0 1 0 1 0 0 1 1 0 1 1 1 0
 0 1 1 0 1 1 1 1 0 1 0 0 1 0 1 1 0 1 1 0 1 0 1 0 0 1 1 1 0 0 1 1 0 0 0 1 0
 1 1 1 1 1 0 1 1 0 0 0 0 0 0 1 1 0 0 1 1 0 1 0 0 0 1 1 0 1 1 0 1 1 1 0 1 1
 0 1 0 0 0 1 0 1 1 0 0 0 0 0 1 1 0 0 1 0 0 1 1 0 1 1 0 1 1 1 0 0 1 0 1 1 1
 0 0 1 1 1 1 0 1 1 0 0 0 1 0 0 1 0 1 0 1 0 0 1 1 1 0 0 0 0 1 0 1 0 0 1 1 0
 0 1 1 0 0 0 1 1 1 0 0 1 0 0 1 1 0 1 1 1 0 1 0 0 1 1 0 0 1 1 0 0 1 1 1 0 1]

In [ ]:
# Total number of values predicted
np.count_nonzero(y_pred == 0) + np.count_nonzero(y_pred)

555

In [ ]:
prediction = pd.DataFrame(y_pred, columns=['prediction']).to_csv('prediction.csv')