### Importing the libraries

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Loading the testing set

In [ ]:
df = pd.read_csv('Train_data.csv')
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [ ]:
df.head(10)

,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,Target
0,59.000000,12.800000,3.400000,1.300000,2.600000,51.000000,0.200000,0.300000,50.000000,0.700000,0.800000,78.000000,1.100000,2.300000,3.300000,0.500000,0.30000,0.400000,0.500000,1
1,31.000000,10.700000,3.400000,1.200000,3.300000,35.300000,0.500000,2.100000,25.800000,0.500000,0.900000,55.200000,0.300000,1.100000,1.400000,0.400000,0.30000,0.100000,0.200000,0
2,48.000000,9.300000,4.500000,1.700000,3.400000,49.700000,0.000000,0.100000,0.000000,1.200000,1.900000,61.500000,0.400000,0.800000,1.200000,0.800000,0.50000,0.400000,1.000000,0
3,80.000000,27.700000,11.200000,3.500000,9.400000,37.400000,1.300000,4.100000,32.900000,2.800000,3.300000,85.000000,0.800000,1.600000,2.400000,3.900000,1.30000,0.100000,2.200000,1
4,58.000000,18.400000,5.800000,1.900000,5.300000,36.700000,0.000000,0.100000,25.000000,1.900000,3.100000,61.700000,0.500000,0.700000,1.200000,1.900000,1.10000,0.200000,1.700000,0
5,50.458515,16.178170,5.199565,1.979040,5.237119,38.467247,0.416594,1.195634,34.858949,0.779040,0.987337,77.387337,0.491703,1.337554,1.829257,1.937119,0.67904,0.091703,0.916594,0
6,50.000000,36.100000,12.800000,4.600000,12.300000,37.400000,2.000000,6.500000,31.000000,1.600000,2.100000,75.200000,0.300000,2.800000,3.100000,6.000000,1.90000,0.000000,2.900000,1
7,81.000000,25.100000,10.000000,3.800000,8.000000,48.100000,0.000000,0.100000,11.100000,2.300000,2.700000,86.600000,1.600000,2.100000,3.700000,1.900000,0.60000,0.200000,1.400000,1
8,79.000000,20.200000,6.700000,2.400000,5.400000,44.200000,0.300000,1.000000,26.300000,1.600000,2.000000,80.000000,0.200000,1.800000,2.000000,2.800000,0.50000,0.000000,1.300000,1
9,25.024069,9.244566,1.907221,0.837345,1.974690,40.545731,0.000000,0.000000,0.000000,0.265062,0.630124,48.373448,0.565062,1.569876,2.134938,0.297593,0.10000,0.637345,0.430124,0

## Splitting into training & testing set

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1)

## Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Modeling using different models

In [ ]:
# Logistic Regression
# from sklearn.linear_model import LogisticRegression
# classifier = LogisticRegression(random_state = 0)
# classifier.fit(X_train, y_train)

# K-NN 
# from sklearn.neighbors import KNeighborsClassifier
# classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
# classifier.fit(X_train, y_train)

# SVM 
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear', random_state = 0)
classifier.fit(X_train, y_train)

# from sklearn.model_selection import GridSearchCV
# param_grid = {'C': [0.1,1,100,1000], 'kernel': ['rbf', 'poly', 'sigmoid', 'linear'], 'degree': [1,2,3,4,5,6]}
# grid = GridSearchCV(SVC(), param_grid)
# grid.fit(X_train, y_train)

# Kernel SVM 
# from sklearn.svm import SVC
# classifier = SVC(kernel = 'rbf', random_state = 0)
# classifier.fit(X_train, y_train)

# Naive Bayes
# from sklearn.naive_bayes import GaussianNB
# classifier = GaussianNB()
# classifier.fit(X_train, y_train)

# Decision Tree
# from sklearn.tree import DecisionTreeClassifier
# classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
# classifier.fit(X_train, y_train)

# # Random Forest
# from sklearn.ensemble import RandomForestClassifier
# classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
# classifier.fit(X_train, y_train)

SVC(kernel='linear', random_state=0)

In [ ]:
# print(grid.best_params_)
# print(grid.score(X_test, y_test))
y_pred = classifier.predict(X_test)

In [ ]:
print(y_pred)

[0 0 0 0 0 1 0 0 1 1 0 0 0 0 1 0 1 0 0 1 0 1 0 0 1 1 0 1 0 1 1 0 1 1 0 1 0
 1 1 1 0 1 0 1 0 0 1 1 0 0 1 0 0 1 1 1 1 1 0 0 0 1 1 1 1 1 0 1 0 1 1 1 0 0
 0 1 0 0 0 0 0 1 1 0 1 0 1 0 1 0 0 0 0 1 1 1 0 0 1 0 1 0 0 1 1 1 0 1 1 1 1
 1 0 1 0 1 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 1 0 0 1 0 0 1 0 0 1 1 1 0 0 0 1 0
 0 0 1 1 1 0 0 1 1 1 1 1 0 1 1 0 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 1
 0 0 1 0 0 0 0 1 0 1 1 1 0 1 0 0 0 0 0 1 1 0 1 1 0 1 1 1 1 0 0 0 1 1 1 1 0
 1 1 1 1 0 0 0 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 1 0 0 1 0
 0 0 1 0 1 1 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 1 1 1 1 1 0 0 0 0 1 1 0 0 0 0
 0 1 1 0 1 0 1 1 1 1 1 1 1 0 0 0 0 0 0 1 0 1 0 1 0 1 1 1 0 0 1 1 1 1 1]

## Checking accuracy score

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[131  47]
 [ 51 102]]

0.7039274924471299

## Hyperparameter tuning using Grid Search Cross Validation

In [ ]:
from sklearn.model_selection import GridSearchCV
parameters = [{'C': [1, 10, 100, 1000], 'kernel': ['linear']},
              {'C': [1, 10, 100, 1000], 'kernel': ['rbf'], 'gamma': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]}]
grid_search = GridSearchCV(estimator = classifier,
                           param_grid = parameters,
                           scoring = 'accuracy',
                           cv = 10,
                           n_jobs = -1)
grid_search = grid_search.fit(X_train, y_train)

# param_grid = {'C': [0.1,1,100,1000], 'kernel': ['rbf', 'poly', 'sigmoid', 'linear'], 'degree': [1,2,3,4,5,6]}
# grid = GridSearchCV(SVC(), param_grid)
# grid.fit(X_train, y_train)

In [ ]:
accuracy = grid_search.best_score_
# accuracy = grid.best_score_

In [ ]:
accuracy

0.7285714285714285

In [ ]:
grid_search.best_params_ 
# grid.best_params_

{'C': 1000, 'gamma': 0.5, 'kernel': 'rbf'}

## Using the best params on SVC

In [ ]:
 classifier = SVC(kernel = 'rbf', gamma=0.5, C = 1000)
classifier.fit(X_train, y_train)

SVC(C=1000, gamma=0.5)

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,y_pred)

In [ ]:
accuracy * 100

70.99697885196375